// http://ionicframework.com/docs/v2/theming/


@import "../../node_modules/ionicons/dist/scss/ionicons";


@import "app.mixins.scss";

@import "app.fonts.scss";

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../app/pages/contact/contact.component";

@import "../app/pages/home/home.component";

.tabs-md, .tabs-ios, .tabs-wp {
    .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
        color: map-get($colors, primary);
    }

    .tabbar {
        background-color: map-get($colors, bottomNav);
    }
}
.tabs-ios, .tabs-md {
    .tabbar {
        border-top: 1px solid map-get($colors, dividersDark);
    }
}
.tabs-wp {
    .tabbar {
        border-bottom: 1px solid map-get($colors, dividersDark);
    }
    .tab-button[aria-selected=true] {
        border-bottom-color: map-get($colors, primary);
    }
}


.header {
    .toolbar-ios {
        /*min-height: 56px;*/
    }

    .toolbar-background-ios, .toolbar-background-wp {
        background-color: map-get($colors, primary);
    }

    .toolbar-background-md {
        background-color: map-get($colors, androidStatusBar);
    }

    .toolbar-title-ios, .toolbar-title-md, .toolbar-title-wp {
        color: map-get($colors, titlesDarkBg);
    }

    .bar-button-default-md, .bar-button-default-ios, .bar-button-default-wp {
        color: map-get($colors, titlesDarkBg);
    }
}

.list-ios .item-block {
    .item-inner {
        border-bottom: 1px solid map-get($colors, dividers);
    }

    &:last-child {
        border-bottom: 1px solid map-get($colors, dividers);
    }

    &:first-child {
        border-top: 1px solid map-get($colors, dividers);
    }
}

.button-clear-md.button-small {
    text-transform: none;
}

.list-header-md, .list-header-ios, .list-header-wp {
    font-size: 20px;
}